<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro Departamento</title>
    {% load static %}
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
</head>
<body >
    <form  method="post">
   {% csrf_token %}
       <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Nombre Departamento:</label>
                    <input class="form-control", type="text" name="nombre">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </div>
        </div>
   </form>

</body>
</html>