<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<table style="border: solid" class="table" >
    <thead>
        <tr>
            <th>ID Empleado</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Dirección</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th>Opcion</th>
        </tr>
    </thead>
    <tbody>
        {% for Empleado in Empleado %}
            <tr>
                <td>{{ Empleado.id }}</td>
                <td>{{ Empleado.nombre }}</td>
                <td>{{ Empleado.apellido }}</td>
                <td>{{ Empleado.fecha_naciento }}</td>
                <td>{{ Empleado.direccion }}</td>
                <td>{{ Empleado.correo }}</td>
                <td>{{ Empleado.telefono }}</td>
                <td>{{ Empleado.Cargo.nombre }} {{ Empleado.Cargo.apellido }} </td>
                <td>{{ Empleado.Departamento.nombre }}</td>
                <td>
                    <a href="/editar/{{ Empleado.id }}"><span class="glyphicon glyphicon-pencil" >Editar</span></a>
                                      <a style="background: #bf2718" href="/eliminar/{{ Empleado.id }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
        <a href="/emp" class="btn btn-primary">Añadir Nuevo Empleado</a>
<br>
<br>
        <a href="{% url 'nuevo_inicio' %}" class="btn btn-primary">Regresar al inicio</a>

</body>
</html>